@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 1.1rem;
}

/* These colours and weights are saved in their own classes 
for potential reusability */
.strength-word {
  color: #c30000;
  font-weight: 600;
}
.agility-word {
  color: #33b107;
  font-weight: 600;
}
.intelligence-word {
  color: #0831c2;
  font-weight: 600;
}

.header {
  font-family: "Inter", sans-serif;
  font-size: large;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.intro-header {
  text-align: center;
  font-family: "Inter", serif;
}

.main {
  padding: 5px;
  border-bottom: 1px solid black;
}

.form {
  padding-bottom: 5px;
}

.all-menus {
  max-width: 450px;
  margin-right: 5%;
  box-shadow: 0px 0px 2px 3px rgb(255, 255, 255);
}

.name {
  width: 150px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: -13px;
  border: 1px solid black;
}

.attributes-menu {
  padding: 5px;
  box-shadow: 0px 0px 3px 0.5px black;
}

.attributes-input {
  display: flex;
  flex-direction: column;
}

.boots-menu {
  padding: 5px;
  box-shadow: 0px 0px 3px 0.5px black;
}

.boots-input {
  display: flex;
  flex-direction: column;
}

.weapons-menu {
  padding: 5px;
  box-shadow: 0px 0px 3px 0.5px black;
}
.weapons-input {
  display: flex;
  flex-direction: column;
}

.save-button {
  border: 0.5px solid black;
  background: rgb(255, 255, 255);
  width: 80px;
  margin-bottom: 10px;
}

.submit-effect {
  height: 80px;
  text-align: center;
}

.hero-saved {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #026809;
  cursor: pointer;
}

/* beginning of displays */

.displays {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.attributes-display-row {
  box-shadow: 0px 0px 3px 0.5px black;
  background: white;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.attr-list-div {
  margin-left: -30px;
}

.attributes-display-list > h5 {
  text-align: center;
  padding-bottom: 5px;
}

.attributes-display-list > li {
  list-style-type: none;
  text-align: left;
  padding-right: 15px;
}

.boots-display-row {
  box-shadow: 0px 0px 3px 0.5px black;
  background: white;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.boots-display-list > h5 {
  text-align: center;
  padding-bottom: 5px;
}
.boots-display-list > li {
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}

.weapons-display-row {
  height: 200px;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0px 0px 3px 0.5px black;
}

.weapons-display-list > h5 {
  text-align: center;
  padding-bottom: 5px;
}

.weapons-display-list > li {
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}

.select-text {
  text-align: center;
  align-self: center;
}

ul {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 1.1em;
}

li::marker {
  font-size: 0.8em;
}
/* live preview/calculations of hero selections */

.live-preview {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  box-shadow: 0px 0px 3px 0.5px black;
}

.subbed-boots {
  display: flex;
  align-items: center;
}

.subbed-weapon {
  display: flex;
  align-items: center;
}

.subbed-attr {
  display: flex;
}

/* Manages all icons, individual icons can be specified if need be */
.icon {
  max-width: 30px;
  height: 20px;
  margin-left: 10px;
}

/* This refers to individual heroes that have been submitted */
.submitted-hero {
  min-width: 300px;
  max-width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  box-shadow: 0 0 2px 0.5px rgb(0, 0, 0);
  text-align: left;
}

.team-row {
  display: flex;
  text-align: center;
  padding-top: 30px;
}

/* This refers to the team col */
.team-heroes {
  display: flex;
  padding-top: 3%;
  justify-content: flex-start;
  justify-content: space-evenly;
}
