/* * {
  border: 1px solid red;
} */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.form-header {
  font-family: "Inter", serif;
  font-size: large;
}

.main {
  border: 1px solid red;
  /* background: rgb(53, 53, 53); */
}

.intro-header {
  text-align: center;
}

.attr-info-heading {
  text-align: center;
}

.strength-word {
  color: #c30000;
  font-size: large;
  font-weight: 600;
}
.agility-word {
  color: #33b107;
  font-weight: 600;
}
.intelligence-word {
  color: #0831c2;
  font-weight: 600;
}

.all-menus {
  max-width: 450px;
  margin-right: 5%;
  border: 1px solid blue;
}

.name {
  border-radius: 5%;
  background-color: white;
  /* border-color: lightgrey; */
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
}

.attributes-input {
  display: flex;
  flex-direction: column;
}

.boots-input {
  display: flex;
  flex-direction: column;
}

.weapons-input {
  display: flex;
  flex-direction: column;
}

/* beginning of displays maps */

.displays {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.attributes-display-row {
  border: 1px solid black;
  height: 200px;
}

.attributes-display-list > ul {
  text-align: center;
}

.attributes-display-list > ul > li {
  text-align: left;
}

.boots-display-row {
  border: 1px solid brown;
  height: 200px;
  list-style-type: none;
}

.boots-display-list {
  list-style-type: none;
}

.weapons-display-row {
  border: 1px solid blue;
  height: 200px;
}

.weapons-display-list {
  list-style-type: none;
}

.boots-elements {
  /* border: 1px solid red; */
  height: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* box-shadow: inset 0 0 0.3px 0.1px rgb(135, 135, 135); */
  background: rgba(243, 242, 242, 0.342);

  /* padding-left: 50px; */
}

.boot-elements-row {
  box-shadow: 0 0 2px 0.5px rgb(0, 0, 0);
}

.weapons-elements {
  border: 1px solid red;
  height: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

ul {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 1.1em;
}

li::marker {
  font-size: 0.8em;
}
/* live preview/calculations of hero selections */
.live-preview {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  align-self: center;
  border: 1px solid green;
  /* 
  considered fixing position so that preview was always visible as users scrolled 
  position: fixed;
  top: 100px;
  left: 60vw; */
}

.subbed-boots {
  display: flex;
  align-items: center;
}

.subbed-weapon {
  display: flex;
  align-items: center;
}

.subbed-attr {
  display: flex;
}

/* Manages all icons, individual icons can be specified if need be */
.icon {
  max-width: 30px;
  height: 20px;
  margin-left: 10px;
}

/* This refers to individual heroes that have been submitted */
.submitted-hero {
  min-width: 300px;
  max-width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  box-shadow: 0 0 2px 0.5px rgb(0, 0, 0);

  /* margin-left: 2%; */
  /* margin-right: 2%; */
}

/* This refers to all team members */
.team-heroes {
  display: flex;
  padding-top: 3%;
  justify-content: flex-start;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
}

.submit-effect {
  height: 80px;
  text-align: center;
}
